.navbar .divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid #000000;
    border-left: 1px solid #f2f2f2;
}

textarea{
    resize: none;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }
}

.terrain, .objet, .layers, .removeLayer, .hideLayer{

}

canvas{
    border: 2px solid black;
    background-color: transparent;
    position: absolute;
}
.stick{
    padding-left: 0!important;
    padding-right: 0!important;
}

.fa-lg {
    line-height: 0.5em;
}
#textForm { 
    border: 1px solid black;
    position:absolute;
    width:400px;
}