<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Générateur de cartes 2D</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="icon" type="image/png" href="img/favicon.png">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/colorpicker.css">
        <link rel="stylesheet" type="text/css" href="css/jquery-ui-1.10.4.custom.css">
        <link rel="stylesheet" type="text/css" href="css/jquery.fileupload.css">
        <link rel="stylesheet" type="text/css" href="css/jquery.fileupload-ui.css">
        <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/jquery-ui-1.10.4.custom.min.js"></script>
        <script type="text/javascript" src="js/jquery.mobile.custom.min.js"></script>
        <script type="text/javascript" src="js/colorpicker.js"></script>
        <script type="text/javascript" src="js/min.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button data-target="#navbar-collapse-1" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">Générateur de cartes 2D</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <form class="navbar-form form-inline">
                        <div class="btn-group">
                            <div style="cursor: pointer;">
                                <a href="#"><img src="img/fr.png" alt="en" title="French version" width="24" height="24"/></a>
                                <a href="index_en.html"><img src="img/en.png" alt="en" title="English version" width="24" height="24"/></a>
                            </div>
                        </div>
                        <span class="divider-vertical"></span>
                        <div class="btn-group" data-toggle="buttons">
                            <label id="carre" class="btn btn-default active" title="Forme carrée">
                                <input type="radio" name="types"><i class="fa fa-square-o"></i>
                            </label>
                            <label id="rond" class="btn btn-default" title="Forme circulaire">
                                <input type="radio" name="types"><i class="fa fa-circle-o"></i>
                            </label>
                        </div>
                        <input type="number" class="form-control" id="diametre" value="50" style="width:75px;" placeholder="Diamètre">
                        <div class="form-group has-success has-feedback">
                            <input type="text" class="form-control" id="colorpickerField1" value="000000" style="width:120px;">
                            <i class="fa fa-square form-control-feedback" style="color:#000000;"></i>
                        </div>
                        <span class="divider-vertical"></span>
                        <div class="btn-group" data-toggle="buttons">
                            <label id="text" class="btn btn-default" title="Texte">
                                <input type="radio" name="brushes">T
                            </label>
                            <label id="pencil" class="btn btn-default active" title="Crayons">
                                <input type="radio" name="brushes"><i class="fa fa-pencil fa-lg"></i>
                            </label>
                            <label id="line" class="btn btn-default" title="Ligne droite">
                                <input type="radio" name="brushes"><i class="fa fa-minus fa-lg"></i>
                            </label>
                            <label id="dash" class="btn btn-default" title="Pointillés">
                                <input type="radio" name="brushes"><i class="fa fa-ellipsis-h fa-lg"></i>
                            </label>
                            <label id="bucket" class="btn btn-default bucket" title="Remplir">
                                <input class="" type="radio" name="brushes">&nbsp;&nbsp;&nbsp;
                            </label>
                            <label id="eraser" class="btn btn-danger" title="Gomme">
                                <input type="radio" name="brushes"><i class="fa fa-eraser fa-lg"></i>
                            </label>
                        </div>
                        <span class="divider-vertical"></span>
                        <button id="undo" type="button" class="btn btn-primary" title="Précédent - Ctrl + Z"><i class="fa fa-undo"></i></button>
                        <button id="redo" type="button" class="btn btn-primary" title="Suivant - Ctrl + Y"><i class="fa fa-repeat"></i></button>
                        <span class="divider-vertical"></span>
                        <button id="export" type="button" class="btn btn-success" title="Exporter l'image"><i class="fa fa-download"></i></button>    
                        <div class="pull-right">
                            <button id="uploadBtn" type="button" data-toggle="modal" data-target="#myModal" style="color:black;" class="btn btn-warning" title="Importez vos images"><i class="fa fa-upload"></i> Importez vos images</button>
                            <span class="divider-vertical"></span>
                            <label id="reset" class="btn btn-danger" title="L'historique des modifications sera supprimé">
                                <i class="fa fa-times fa-lg"></i> Tout effacer
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </nav>

        <div style="margin-top: 70px;">

            <div id="bordure" class="col-md-2">

                <div class="panel-group" id="accordion">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Objets
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="objet btn btn-default">
                                        <input type="radio" name="objets"><img alt="rocks" src="img/field_objects/rocks.png" width="48" height="15" class="img-rounded"/>
                                    </label>
                                    <label class="objet btn btn-default">
                                        <input type="radio" name="objets"><img alt="water_tile" src="img/field_objects/water_tile.png" width="95" height="32" class="img-rounded"/>
                                    </label>
                                    <br/>
                                    <label class="objet btn btn-default">
                                        <input type="radio" name="objets"><img alt="higrass" src="img/field_objects/higrass.png" width="50" height="40" class="img-rounded"/>
                                    </label>
                                    <label class="objet btn btn-default">
                                        <input type="radio" name="objets"><img alt="recif" src="img/field_objects/recif.png" width="64" height="27" class="img-rounded"/>
                                    </label>
                                    <label class="objet btn btn-default">
                                        <input type="radio" name="objets"><img alt="lac" src="img/field_objects/lac.png" width="41" height="40" class="img-rounded"/>
                                    </label>
                                    <label class="objet btn btn-default">
                                        <input type="radio" name="objets"><img alt="palmtree" src="img/field_objects/palmtree.png" width="32" height="48" class="img-rounded"/>
                                    </label>
                                    <label class="objet btn btn-default">
                                        <input type="radio" name="objets"><img alt="big_tree" src="img/field_objects/big_tree.png" width="48" height="60" class="img-rounded"/>
                                    </label>
                                    <label class="objet btn btn-default">
                                        <input type="radio" name="objets"><img alt="green_tree" src="img/field_objects/green_tree.png" width="48" height="61" class="img-rounded"/>
                                    </label>
                                    <label class="objet btn btn-default">
                                        <input type="radio" name="objets"><img alt="sapin" src="img/field_objects/sapin.png" width="30" height="75" class="img-rounded"/>
                                    </label>

                                    <label class="objet btn btn-default">
                                        <input type="radio" name="objets"><img alt="water_tile" src="img/field_objects/ruin.png" width="15" height="46" class="img-rounded"/>
                                    </label>
                                    <label class="objet btn btn-default">
                                        <input type="radio" name="objets"><img alt="mountain" src="img/field_objects/mountain.png" width="64" height="64" class="img-rounded"/>
                                    </label>
                                    <label class="objet btn btn-default">
                                        <input type="radio" name="objets"><img alt="mountain_tile2" src="img/field_objects/mountain_tile2.png" width="101" height="70" class="img-rounded"/>
                                    </label>
                                    <label class="objet btn btn-default">
                                        <input type="radio" name="objets"><img alt="mountain_tile3" src="img/field_objects/mountain_tile3.png" width="85" height="81" class="img-rounded"/>
                                    </label>
                                    <label class="objet btn btn-default">
                                        <input type="radio" name="objets"><img alt="mountain_tile4" src="img/field_objects/mountain_tile4.png" width="78" height="65" class="img-rounded"/>
                                    </label>
                                    <label class="objet btn btn-default">
                                        <input type="radio" name="objets"><img alt="house1" src="img/field_objects/house-1.png" width="93" height="75" class="img-rounded"/>
                                    </label>
                                    <label class="objet btn btn-default">
                                        <input type="radio" name="objets"><img alt="house2" src="img/field_objects/house-2.png" width="93" height="75" class="img-rounded"/>
                                    </label>
                                    <label class="objet btn btn-default">
                                        <input type="radio" name="objets"><img alt="arrowright" src="img/field_objects/arrowright.png" width="75" height="38" class="img-rounded"/>
                                    </label>
                                    <label class="objet btn btn-default">
                                        <input type="radio" name="objets"><img alt="arrowtopright" src="img/field_objects/arrowtopright.png" width="65" height="62" class="img-rounded"/>
                                    </label>
                                    <label class="objet btn btn-default">
                                        <input type="radio" name="objets"><img alt="arrowdownright" src="img/field_objects/arrowdownright.png" width="65" height="62" class="img-rounded"/>
                                    </label>
                                    <label class="objet btn btn-default">
                                        <input type="radio" name="objets"><img alt="arrowleft" src="img/field_objects/arrowleft.png" width="75" height="38" class="img-rounded"/>
                                    </label>

                                    <label class="objet btn btn-default">
                                        <input type="radio" name="objets"><img alt="arrowdownleft" src="img/field_objects/arrowdownleft.png" width="65" height="62" class="img-rounded"/>
                                    </label>

                                    <label class="objet btn btn-default">
                                        <input type="radio" name="objets"><img alt="water_upright" src="img/field_objects/arrowdownright.png" width="65" height="62" class="img-rounded"/>
                                    </label>

                                    <label class="objet btn btn-default">
                                        <input type="radio" name="objets"><img alt="arrowtopleft" src="img/field_objects/arrowtopleft.png" width="65" height="62" class="img-rounded"/>
                                    </label>

                                    <label class="objet btn btn-default">
                                        <input type="radio" name="objets"><img alt="arrowtopright" src="img/field_objects/arrowtopright.png" width="65" height="62" class="img-rounded"/>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    Terrains
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="btn-group form-horizontal" data-toggle="buttons">
                                    <label class="terrain btn btn-default">
                                        <input type="radio" name="terrains"><img alt="Grass" src="img/textures/grass.png" width="50" height="50" class="img-rounded"/>
                                    </label>
                                    <label class="terrain btn btn-default">
                                        <input type="radio" name="terrains"><img alt="sand" src="img/textures/water.png" width="50" height="50" class="img-rounded"/>
                                    </label>
                                    <label class="terrain btn btn-default">
                                        <input type="radio" name="terrains"><img alt="sand" src="img/textures/higrassup.png" width="50" height="50" class="img-rounded"/>
                                    </label>

                                    <label class="terrain btn btn-default">
                                        <input type="radio" name="terrains"><img alt="sand" src="img/textures/bump.png" width="50" height="50" class="img-rounded"/>
                                    </label>
                                    <label class="terrain btn btn-default">
                                        <input type="radio" name="terrains"><img alt="desert" src="img/textures/desert.png" width="50" height="50" class="img-rounded"/>
                                    </label>
                                    <label class="terrain btn btn-default">
                                        <input type="radio" name="terrains"><img alt="stone_ground" src="img/textures/stone_ground.png" width="50" height="50" class="img-rounded"/>
                                    </label>
                                    <label class="terrain btn btn-default">
                                        <input type="radio" name="terrains"><img alt="swamp" src="img/textures/swamp.png" width="50" height="50" class="img-rounded"/>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-8 stick" id="canvas">
                <img id="tack" alt="stone_ground" src="img/field_objects/thumbtack.png" width="13" height="20" style="position:absolute;"/>
                <form id="textForm" class="form-inline" role="form">
                    <div class="form-group">
                        <textarea id="textContent" class="form-control" style="width:200px;" placeholder="Votre texte"></textarea>
                    </div>
                    <button id="validText" type="button" class="btn btn-success btn-sm">Valider</button>
                    <button id="cancelText" type="button" class="btn btn-danger btn-sm">Annuler</button>
                </form>

            </div>
            <div class="col-md-2">
                <div class="panel panel-primary stick">
                    <div class="panel-heading">Calques <i id="add_layer" class="btn fa fa-plus fa-lg"></i></div>
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked layers">
                            <li class="active">
                                <a href="#" data-layer="0">
                                    <i style="padding: 5px 0px 0px;color:black;" class="fa fa-eye fa-lg pull-left hideLayer"></i> 
                                    Fond 
                                    <i style="padding: 6px 12px;" class="fa fa-lock fa-lg pull-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <a target="_blank" href="http://www.mozilla.org/fr/firefox/new/">
                    <img src="http://www.millettephotosdeplantes.com/imgs/design/firefox.png" alt="http://www.mozilla.org/fr/firefox/new/">
                </a>
            </div>
            <div id="exportContainer" class="hide col-md-8">
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Importer des images</h4>
              </div>
              <div class="modal-body">
                  <div id="alertUp" class="alert alert-info"><ul><li>Formats supportés: jpeg, png, gif</li><li>Taille maximale d'envoi: 100 ko</li></ul></div>
                     <form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data">
                        <!-- Redirect browsers with JavaScript disabled to the origin page -->
                        <noscript><input type="hidden" name="redirect" value="http://blueimp.github.io/jQuery-File-Upload/"></noscript>
                        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                        <div class="row fileupload-buttonbar">
                            <div class="col-lg-7">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Ajouter des images...</span>
                                    <input type="file" name="files[]" multiple>
                                </span>
                            </div>
                            <!-- The global progress state -->
                            <div class="col-lg-5 fade">
                                <!-- The global progress bar -->
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                </div>
                                <!-- The extended global progress state -->
                                <div class="">&nbsp;</div>
                            </div>
                        </div>
                        <!-- The table listing the files available for upload/download -->
                        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                    </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>
        <script id="template-upload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
            <tr class="template-upload fade">
                <td class="col-md-3">
                    <span class="preview"></span>
                </td>
                <td class="col-md-3">
                    <p class="name">{%=file.name%}</p>
                    <strong class="error text-danger"></strong>
                </td>
                <td class="col-md-3">
                    <p class="size">En cours...</p>
                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                </td>
                <td class="col-md-3">
                    {% if (!i && !o.options.autoUpload) { %}
                        <button class="btn btn-primary start" disabled>
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Envoyer</span>
                        </button>
                    {% } %}
                    {% if (!i) { %}
                        <button class="btn btn-warning cancel">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Annuler</span>
                        </button>
                    {% } %}
                </td>
            </tr>
        {% } %}
        </script>
        <script id="template-download" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
            <tr class="template-download fade">
                <td>
                    <span class="preview">
                        {% if (file.thumbnailUrl) { %}
                            <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                        {% } %}
                    </span>
                </td>
                <td>
                    <p class="name">
                        {% if (file.url) { %}
                            <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                        {% } else { %}
                            <span>{%=file.name%}</span>
                        {% } %}
                    </p>
                    {% if (file.error) { %}
                        <div><span class="label label-danger">Erreur</span> {%=file.error%}</div>
                    {% } %}
                </td>
                <td>
                    <span class="size">{%=o.formatFileSize(file.size)%}</span>
                </td>
                <td>
                    {% if (file.deleteUrl) { %}
                        <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                            <i class="glyphicon glyphicon-trash"></i>
                            <span>Supprimer</span>
                        </button>
                        <input type="checkbox" name="delete" value="1" class="toggle">
                    {% } else { %}
                        <button class="btn btn-warning cancel">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Annuler</span>
                        </button>
                    {% } %}
                </td>
            </tr>
        {% } %}
        </script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-47119875-1', 'paocorp.com');
          ga('send', 'pageview');
        </script>
        <script src="http://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
        <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
        <script src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.min.js"></script>
        <!-- The Canvas to Blob plugin is included for image resizing functionality -->
        <script src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
        <!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <!-- blueimp Gallery script -->
        <script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
        <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
        <script src="js/jquery.iframe-transport.js"></script>
        <!-- The basic File Upload plugin -->
        <script src="js/jquery.fileupload.js"></script>
        <!-- The File Upload processing plugin -->
        <script src="js/jquery.fileupload-process.js"></script>
        <script src="js/jquery.fileupload-validate.js"></script>
        <!-- The File Upload image preview & resize plugin -->
        <script src="js/jquery.fileupload-image.js"></script>
        <!-- The File Upload user interface plugin -->
        <script src="js/jquery.fileupload-ui.js"></script>
        <!-- The main application script -->
        <script src="js/main.js"></script>
    </body>
</html>
